@model IEnumerable<BancosEMontesdeoca.Operaciones>

@{
    ViewBag.Title = "Operations";
}

<h2>Operations</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.NifNie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.NifNie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdOperacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdOperacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdOperacion })
        </td>*@
    </tr>
}

</table>
